@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;

}
/* CHỈNH CÁI NAV ĐẦU TIÊN*/
header {
    display: flex;
    justify-content: space-between;
    max-height: 100px;

}
.title {
    display: flex;
    align-items: center;
}
.title h1 {
    margin-top: 0px;
    position: top;
}
.title img {
    max-width: 100px;
    height: auto;
    margin: 10px;
}
#nav-bar {
    max-width: 60%;
}
#nav-bar ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-between;
    align-items: center;
    gap: 0;
    list-style-type: none;
    background-color: #171D1C;
}
#nav-bar li {
    height: 100%;
}
#nav-bar a {
    height: 100%;
    display: block;
    padding: 40px 20px 40px 20px;
    color: #F2E8D7;
    text-decoration: none;
    border-right: 2px solid #F2E8D7;
}
#nav-bar a:hover {
    color:#171D1C;
    background-color: #F2E8D7;
}
//@media chỉnh thanh điều hướng khi nó còn nửa màn hình thì hiển thị kiểu khác
/*CHỈNH PHẦN MAIN*/
